[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/pipelineapp
ExecStart=/home/ubuntu/pipelineapp/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/pipelineapp/pipelineapp/gunicorn.sock \
          pipelineapp.wsgi:application
[Install]
WantedBy=multi-user.target
